
Javascript/XMLGettingAttributeValue/GettingAttributeValue.html
JavaAndroid/Gestures/app/src/main/java/com/example/joliver_pc/gestures/MainActivity.java
Java/Project_JIRA/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java/Project_JIRA/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.xmi
*.xmi
Java/Project_JIRA/.metadata/.plugins/org.eclipse.core.resources/.history/1e/70c375faf60c001816dde17b9a5a80a8
*.target
*.index
Java/Project_JIRA/.metadata/.plugins/org.eclipse.core.resources/.projects/Template/.location
*.tree
*.properties
*.txt
