
Javascript/XMLGettingAttributeValue/GettingAttributeValue.html
JavaAndroid/Gestures/app/src/main/java/com/example/joliver_pc/gestures/MainActivity.java
Java/Project_JIRA/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java/Project_JIRA/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.xmi
